@using Microsoft.AspNetCore.Identity
@inject SignInManager<Auth> SignInManager
@inject UserManager<Auth> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Logout" title="Manage">Logout</a>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}