@model StuDept.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department - @Model.Name</h4>
    <hr />
    @foreach (var student in Model.Students)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @student.Name
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id" class="btn btn-primary"> Info </a>
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
